body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


 #form-container,
#notes-container {
    
    
    padding: 50px;
    border: 3px solid #9e0000;
    border-radius: 10px;
    margin-bottom: 20px;
} 

